.OrderHistoryPage {
    grid-area: page;
    height: 95%;
    display: grid;
    grid-template-columns: 1.6fr 3fr 3.2fr;
    grid-template-rows: 1fr;
    background-color: var(--bg);
    border-radius: 2vmin;
}

.OrderHistoryPage .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5vmin 2vmin;
}