.NewOrderPage {
    grid-area: page;
    height: 95%;
    display: grid;
    grid-template-columns: 1.6fr 3fr 3.2fr;
    grid-template-rows: 3% 1fr;
    background-color: var(--bg);
    border-radius: 2vmin;
}

.NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vmin 2vmin;
}

.NewOrderPage nav {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: var(--tan-3);
    border-bottom-left-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    margin: 0;
}
