.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .2vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 3vmin;
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
}

.OrderListItem>div>div:first-child {
    margin-bottom: .5vmin;
}

.OrderListItem.selected {
    box-shadow: 0 0 10px rgba(2, 62, 14, 0.5);
    border-color: var(--green-yellow);
    border-width: .2vmin;
    transform: scale(1.08);
    cursor: default;
}

.OrderListItem:not(.selected):hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0, 0, 128, 0.5);
}