.OrderDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: var(--text-light);
    height: 90%;
    overflow: scroll;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 2vmin;
    margin: 3vmin 0;
    padding: 3vmin;
    margin-right: 2vmin;
}

.OrderDetail .sectionHeading {
    width: 100%
}

.OrderDetail .lineItemContainer {
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
}

.OrderDetail .total {
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    border-top: .1vmin solid var(--tan-3);
}

.OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--text-dark);
}

.OrderDetail .total span.right {
    display: flex;
    justify-content: flex-end;
}

.OrderDetail .hungry {
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
}

.container {
    display: flex;
    justify-content: space-between;
}

.prevBtn {
    color: var(--white);
    background-color: var(--yellow-1);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid var(--tan-2);
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
    padding: .4vmin .5vmin;
    transition: transform 0.3 ease;
}

.prevBtn:hover {
    color: var(--yellow-1);
    background-color: var(--white);
    cursor: pointer;
    transform: scale(1.04);

}