.NavBar {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    background: rgb(54, 117, 139);
    background: linear-gradient(95deg, rgba(54, 117, 139, 1) 13%, rgba(33, 140, 157, 1) 58%, rgba(90, 156, 33, 1) 97%);
    height: 4rem;
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
    margin-top: -1vmin;
    border: .1vmin solid var(--blue-1);
}

.title {
    font-size:  5vmin;
    margin: 1vmin 1vmin;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.buttons {
    font-size: 1.5vmin;
    text-align: center;
    margin-left: auto;
    height: 3vmin;
    padding: 0 1.5rem;
    background-color: var(--tan-1);
    color: var(--text-light);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.buttons:not(:disabled):hover {
    color: var(--white);
    background-color: var(--yellow-1);
    transform: scale(1.05);
}

.hidden {
    visibility: hidden;
}