.CoinPriceList {
    padding: 3vmin;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    width: 45vmin;
    height: 70vmin;
}

.title {
    font: small-caps bolder 10vmin;
    text-align: center;
}